 <div class="container is-mobile has-text-centered welcome ">

          <div class="col-lg-12">
            <div class="box has-background-grey-lighter">
                  <article class="media">

                    <div class="media-content">
                      <div class="content">

                        <p>
                          <h2>Welcome to CulinaryEats</h2> <small>by: Hungry_Foodies</small>
                          <br>
                          <br>
                          Use the navigation bar to browse our  delicious recipes!
                        </p>
                        
                        {{#if loggedIn}}
                          <form align="center" class="comment-form">
                            <div>
                              <textarea name="comment-body"></textarea>
                            </div>

                            <div>
                              <button type="submit">add comment</button>
                              <button type="button" class="upvote-btn">upvote</button>
                            </div>
                          </form>
                        {{/if}}



                        <div class='column has-text-centered'>
                            {{!-- <img src="../public/image/spiceworld.png"  alt="Spice World"/> --}}
                           
                        </div>

                      </div>
                  </article>
            </div>
        </div>
 
 
 
