<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-description">Description</label>
      <input id="description"  name="description" />
    </div>
    <div>
      <label for="post-ingredients">ingredients</label>
      <input id="ingredients"  name="ingredients" />
    </div>
    <div>
      <label for="post-instructions">instructions</label>
      <input id="instructions"  name="post-instructions" />
    </div>
    <div>
      <label for="category">Category</label>
      <input id="category" placeholder="ex: Italian, Mexican, Chinese" name="category" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/create-post.js"></script>