.w3-top {
    position: initial;
}

body {
    background-color: lightgrey;
    font-size: 1.5rem;
}

.w3-input {
    width: 75%;
    margin:auto;
    
  }

#login {
    width: 75%;
    margin:auto;
    
  }
  .new-recipe {
      margin:auto;
  }

  .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 20px;
    left: 0;
    z-index: 10;
    padding-top: 15px;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
}


  #recipe_instructions {
    width: 75%;
    padding: 50px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    margin:auto;
  }

  .signup-button{
    text-align: center;
  }

  
.w3-container {
    margin:auto;
    padding: .01em 0px;
    size: 50;
    /* background-color: lightpink; */
}

h1 {
    letter-spacing: 7px;
  }

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
    white-space: nowrap;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: table-header-group;;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: -ms-inline-grid;
    position: absolute;
    right: 0;
    top: 3px;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color:#ffcc99;
    color: white;
  }

  body {
    background: #fff;
    font: 13px 'Open Sans', sans-serif;
    color: #222;
  }
  .recipe-card {
    -webkit-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
    -moz-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
    box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
    border:1px solid #f0f1f3;
    width: 300px;
    margin: 50px auto;
  }
  .recipe-card__body {    
      padding: 20px;
  }
  .recipe-card__heading {
    padding: 0;
    margin: 0 0 0;
    color: #444;
  }
  .recipe-card__subhead {
    font-size: 13px;
    color: #555;
    margin-bottom: 30px;
  }
  .recipe-card__ingredients {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    column-count: 1;
    li {
      margin-bottom: 5px;
    }
    li:before {
      content: '\2022';
      color: #eb9376;
      margin-right: 5px;
    }
  }
  
  .recipe-card__nav {
    margin: 0 0 20px;
    padding: 0;
    border-bottom: 1px solid #eb9376;
    li {
      display: inline-block;
      margin-right: 30px
    }
    h3 {
      margin: 0;
      padding: 0;
    }
    h3:after {
      content: '';
      display: block;
      width: 0%;
      padding-top: 10px;
      margin: 0 auto;
      border-bottom: 5px solid #eb9376;
      transition: width 250ms ease-in-out 0s;
    }
    h3:hover {
      cursor: pointer;
    }
    h3:hover:after, h3.active:after {
     width: 100%; 
    }
  }
  
  @media (min-width:599px) {
    .recipe-card {
      width: 75%;
    }
    .recipe-card__ingredients {
      column-count: 2
    }
  }